In [6]:
import yfinance as yf
import pandas as pd

def fetch_and_localize(ticker, start, end):
    try:
        data = yf.download(ticker, start=start, end=end, threads=False)
        print("Data fetched successfully")
        
        if not data.empty:
            print("Initial Index Type:", type(data.index))
            print("Initial Index TZ:", data.index.tz)
            
            if data.index.tz is None:
                data.index = data.index.tz_localize('UTC')
            else:
                data.index = data.index.tz_convert('UTC')
            
            print("Localized Index Type:", type(data.index))
            print("Localized Index TZ:", data.index.tz)
        
        return data
    except Exception as e:
        print(f"Error localizing timezone: {e}")

In [7]:
# Test the function with a known ticker and date range
fetch_and_localize('MSFT', '2020-01-01', '2023-01-01')

[*********************100%%**********************]  1 of 1 completed

Data fetched successfully
Initial Index Type: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
Initial Index TZ: None
Localized Index Type: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
Localized Index TZ: UTC

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02 00:00:00+00:00,158.779999,160.729996,158.330002,160.619995,154.215698,22622100
2020-01-03 00:00:00+00:00,158.320007,159.949997,158.059998,158.619995,152.295425,21116200
2020-01-06 00:00:00+00:00,157.080002,159.100006,156.509995,159.029999,152.689087,20813700
2020-01-07 00:00:00+00:00,159.320007,159.669998,157.320007,157.580002,151.296906,21634100
2020-01-08 00:00:00+00:00,158.929993,160.800003,157.949997,160.089996,153.706802,27746500
...,...,...,...,...,...,...
2022-12-23 00:00:00+00:00,236.110001,238.869995,233.940002,238.729996,235.769775,21207000
2022-12-27 00:00:00+00:00,238.699997,238.929993,235.830002,236.960007,234.021698,16688600
2022-12-28 00:00:00+00:00,236.889999,239.720001,234.169998,234.529999,231.621841,17457100
2022-12-29 00:00:00+00:00,235.649994,241.919998,235.649994,241.009995,238.021484,19770700
2022-12-30 00:00:00+00:00,238.210007,239.960007,236.660004,239.820007,236.846268,21938500

In [9]:
fetch_and_localize('AAPL', '2020-01-01', '2023-01-01')

[*********************100%%**********************]  1 of 1 completed

Data fetched successfully
Initial Index Type: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
Initial Index TZ: None
Localized Index Type: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
Localized Index TZ: UTC

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02 00:00:00+00:00,74.059998,75.150002,73.797501,75.087502,72.960472,135480400
2020-01-03 00:00:00+00:00,74.287498,75.144997,74.125000,74.357498,72.251152,146322800
2020-01-06 00:00:00+00:00,73.447502,74.989998,73.187500,74.949997,72.826859,118387200
2020-01-07 00:00:00+00:00,74.959999,75.224998,74.370003,74.597504,72.484329,108872000
2020-01-08 00:00:00+00:00,74.290001,76.110001,74.290001,75.797501,73.650352,132079200
...,...,...,...,...,...,...
2022-12-23 00:00:00+00:00,130.919998,132.419998,129.639999,131.860001,130.782578,63814900
2022-12-27 00:00:00+00:00,131.380005,131.410004,128.720001,130.029999,128.967529,69007800
2022-12-28 00:00:00+00:00,129.669998,131.029999,125.870003,126.040001,125.010124,85438400
2022-12-29 00:00:00+00:00,127.989998,130.479996,127.730003,129.610001,128.550964,75703700
2022-12-30 00:00:00+00:00,128.410004,129.949997,127.430000,129.929993,128.868317,77034200

In [14]:
data = yf.download('MSFT', '2020-01-01', '2023-01-01')
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,158.779999,160.729996,158.330002,160.619995,154.215698,22622100
2020-01-03,158.320007,159.949997,158.059998,158.619995,152.295425,21116200
2020-01-06,157.080002,159.100006,156.509995,159.029999,152.689087,20813700
2020-01-07,159.320007,159.669998,157.320007,157.580002,151.296906,21634100
2020-01-08,158.929993,160.800003,157.949997,160.089996,153.706802,27746500
...,...,...,...,...,...,...
2022-12-23,236.110001,238.869995,233.940002,238.729996,235.769775,21207000
2022-12-27,238.699997,238.929993,235.830002,236.960007,234.021698,16688600
2022-12-28,236.889999,239.720001,234.169998,234.529999,231.621841,17457100
2022-12-29,235.649994,241.919998,235.649994,241.009995,238.021484,19770700
2022-12-30,238.210007,239.960007,236.660004,239.820007,236.846268,21938500

In [16]:
data = yf.download('AAPL', '2020-01-01', '2023-01-01')
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,72.960472,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.251152,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,72.826859,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.484329,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.650352,132079200
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,130.782578,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,128.967529,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.010124,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,128.550964,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,128.868317,77034200